.product-item{
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    width: calc(95% - 30px);
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    transition: all -0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.product-item::after{
  content: "";
  background: #bbb;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.product-item:active::after{
padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.product-item img{
    width: 30%;
    border-radius: 10px;
}

.product-item h5 , p{
    width: 30%;
    padding: 25px 0;
}
.product-item h5{
    font-size: 16px;
}

.product-item p {
    display: flex;
    color: #888;
}

@media only screen and (min-width:700px){
    .product-item{
        width: 50%;
    }
    .product-item img{
        width: 200px;
        height: 200px;
    }
}