@font-face {
    font-family: couture;
    src: url("../public/fonts/couture-bld.otf");
}

body{
    font-family: couture;
}

*{
    margin: 0;
}

.app-header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    font-size: 25px;
    color: #7EAA92;
}

.products , .add-product , .cart{
    animation: fade-page 0.8s ease-in-out;
}

.app-footer{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 8px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.app-footer-icon {
    color: #9ab7a8;
    font-size: 25px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 50%;
}
.app-footer-icon:hover{
    background-color: #678675;
    color: white;
}

@keyframes fade-page{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}