.cart-item{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 10px;
}
.cart-item > * {
    text-align: center;
}
.cart-product{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.cart-product h3{
    padding: 27px 0;
}
.cart-delete-icon{
    width: 20%;
    color: rgb(231, 82, 82);
}